#nav-wrapper {
	background-color: #773738;
	padding: 0;
	.navbar {
		padding-left: 0;
		padding-right: 0;
		#brandLogo {
			width: 185px;
			margin-top: 35px;
			margin-left: 9vw;
		}
		.navbar-collapse {
			.navbar-nav {
				.nav-link {
					font-size: 1.2rem;
					margin-top: 30px;
					font-weight: 600;
					color: rgba(255, 255, 255, 1);
					&:hover {
						text-decoration: underline;
					}
				}
				.active {
					text-decoration: underline;
				}
				margin-right: 5vw;
			}
		}
	}
}
#return-top {
	#animated-div {
		padding: 5px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	cursor: pointer;
	position: fixed;
	height: fit-content;
	left: 92%;
	top: 85%;
	z-index: 5;
	font-weight: 700;
	color: white;

	&:hover {
		text-decoration: underline;
	}
}

@media only screen and (min-width: 1920px) {
	html {
		body {
			#nav-wrapper {
				.navbar {
					#brandLogo {
						margin-left: 170px;
					}
				}
			}
		}
	}
}
//Mobile Scaling
@media only screen and (max-width: 992px) {
	html {
		body {
			#nav-wrapper {
				.navbar {
					#brandLogo {
						width: 135px;
						margin-top: 17px;
						margin-bottom: 17px;
						margin-left: 10.5vw;
					}
					.navbar-collapse {
						.navbar-nav {
							.nav-link {
								font-size: 0.9rem;
								margin-top: 0;
								margin-left: 10.5vw;
							}
						}
					}
					button {
						margin-right: 6vw;
						border: none;
						span {
							opacity: 1;
						}
					}
				}
			}
			#return-top {
				left: 80%;
				font-size: 0.8rem;
			}
		}
	}
}

@media only screen and (max-width: 450px) {
	html {
		body {
			#nav-wrapper {
				.navbar {
					.navbar-collapse {
						.navbar-nav {
							.nav-link {
								font-size: 1rem;
								margin-top: 0;
								margin-left: 11vw;
							}
						}
					}
					button {
						margin-right: 0;
						border: none;
						span {
							opacity: 1;
						}
					}
					.navbar-brand {
						margin: 0;
						width: 55%;
						#brandLogo {
							min-width: 100px;
							width: 70%;
							max-width: 135px;
							margin-left: 11vw;
						}
					}
				}
			}

			#return-top {
				font-size: 0.6rem;
				top: 85%;
				left: 80vw;
				#animated-div {
					color: white;
					background-color: rgba(150, 150, 150, 0.5);
					border: 1px;
				}
			}
		}
	}
}
