#landing{
    height: 60vh;
    max-height: 1000px;
    background-color: #773738;

    #landingTitle{
        width: 100%;        
    }
}

@media only screen and (max-width: 992px) {
	html {
		body {
            #landing{
                height: 40vh;
                min-height: 300px;
            }

            #landing-chevron{
                margin-right: 0;
            }

            #landingTitle{
                margin-top: 80px;
            }
		}
	}
}

@media only screen and (max-width: 450px) {
	html {
		body {
			#landing {
                height: 90vh;
			}
            #landingTitle{
                margin-top: 0px;
            }
		}
	}
}