#resources {
  background-color: #487369;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 600px;
}

#resources .resources-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1920px;
  height: 100%;
}

#resources .resources-container .row {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8.333333%;
}

#resources h4 a:hover {
  color: white;
}

#resources h3 {
  text-align: left;
  margin-top: 6vh;
  margin-bottom: 0;
}

#resources .accordion .card {
  width: 79vw;
  background-color: #487369 !important;
  border: none;
}

#resources .accordion .card .card-header {
  background-color: #487369 !important;
  border: none;
}

#resources .accordion .card .card-header .btn-link {
  padding: 0;
  color: white;
}

#resources .accordion .card .card-header .btn-link:hover {
  color: white;
  text-decoration: underline;
}

#resources .accordion .card .card-header .btn-link:focus {
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#resources .accordion .card .card-header .btn-link .resource-dropdown-chevron {
  stroke: white;
  stroke-width: 1.2;
  margin-top: 25px;
  margin-bottom: 20px;
}

#resources .accordion .card .card-body {
  padding-top: 0;
}

@media (max-width: 1530px) and (min-width: 1230px) {
  html body .extended-col {
    margin-right: 20%;
  }
}

@media only screen and (max-width: 992px) {
  html body #resources {
    background-color: #487369;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 80vh;
  }
  html body #resources .card {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 0;
    margin-bottom: 15px;
  }
  html body #resources .card .card-header {
    padding-left: 0;
  }
  html body #resources .card .card-body {
    padding-left: 0;
  }
  html body #resources .resources-container {
    height: 100%;
    padding: 0;
  }
  html body #resources .resources-container .row {
    margin-left: 0;
    margin-right: 0;
  }
  html body #resources .resources-container .col {
    padding-right: 0;
  }
  html body #resources .resources-container .extended-col {
    margin-right: 0;
  }
  html body #resources h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  html body #resources h4 {
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 0.9rem;
  }
  html body #resources h4 a:hover {
    text-decoration: underline;
    color: white;
  }
  html body #resources .longLinks {
    width: 400px;
  }
}

@media only screen and (max-width: 490px) {
  html body #resources {
    max-height: 1000px;
  }
  html body #resources .accordion .card .card-header {
    padding-bottom: 0;
    padding-right: 5px;
  }
  html body #resources h3 {
    font-size: 0.8rem;
    text-align: left;
  }
  html body #resources h4 {
    font-size: 0.75rem;
  }
  html body #resources .longLinks {
    width: 90%;
  }
  html body #resources .resources-container .resource-dropdown-chevron {
    width: 30px;
    height: 18px;
  }
}
/*# sourceMappingURL=Resources.css.map */