#resources {
	background-color: #487369;
	height: fit-content;
	min-height: 600px;

	.resources-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		max-width: 1920px;
		height: 100%;
		.row{
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 8.333333%;
		}
	}

	h4 {
		a {
			&:hover {
				color: white;
			}
		}
	}

	h3 {
		text-align: left;
		margin-top: 6vh;
		margin-bottom: 0;
	}

	.accordion {
		.card {
			width: 79vw;
			background-color: #487369 !important;
			border: none;

			.card-header {
				background-color: #487369 !important;
				border: none;
				.btn-link {
					padding: 0;
					color: white;
					&:hover {
						color: white;
						text-decoration: underline;
					}
					&:focus {
						text-decoration: none;
						box-shadow: none;
					}
					.resource-dropdown-chevron {
						stroke: white;
						stroke-width: 1.2;
						margin-top: 25px;
						margin-bottom: 20px;
					}
				}
			}
			.card-body {
				padding-top: 0;
			}

		}
	}
}

@media only screen and (max-width: 992px) {
	html {
		body {
			#resources {
				background-color: #487369;
				height: fit-content;
				min-height: 80vh;

				.card{
					box-shadow: none;
					.card-header{
						padding-left: 0;
					}
					.card-body{
						padding-left: 0;
					}
				}

				.resources-container {
					height: 100%;
					padding: 0;
					.row{
						margin-left: 0;
						margin-right: 0;
					}

					.col{
						padding-right: 0;
					}
				}


				h3 {
					margin-top: 20px;
					margin-bottom: 10px;
					font-size: 0.9rem;
				}

				h4 {
					margin-top: 10px;
					margin-bottom: 35px;
					font-size: 0.9rem;
					a {
						&:hover {
							text-decoration: underline;
							color: white;
						}
					}
				}

				.longLinks {
					width: 400px;
				}
			}
		}
	}
}

@media only screen and (max-width: 490px) {
	html {
		body {
			#resources {
				.accordion {
					.card {
						.card-header{
							padding-bottom: 0;
							padding-right: 5px;
						}
					}
				}
				h3 {
					font-size: 0.8rem;
					text-align: left;
				}
				h4 {
					font-size: 0.75rem;
				}

				.longLinks {
					width: 90%;
				}
				.resources-container {
					.resource-dropdown-chevron {
						width: 30px;
						height: 18px;
					}
				}
			}
		}
	}
}
