#learn {
	background-color: #023b4e;
	height: 100vh;
	min-height: 800px;
	ul {
		li {
			p {
				display: inline;
				font-size: 1.1rem;
				a {
					color: white;
					&::after {
						color: white;
					}
				}
			}
			list-style: none;
			line-height: 2.5rem;
			color: white;
		}
	}
	.bold {
		font-weight: 700;
	}

	.light {
		font-weight: 500;
	}

	.superLight {
		font-weight: 100;
	}

	.strikethrough {
		text-decoration: line-through;
	}

	.underline {
		text-decoration: underline;
	}

	img{
		position: relative;
		width: 300px;
		border-radius: 15px;
		box-shadow: 10px 10px 13px rgba(0,0,0,0.4);
	}

	#img-protest{
		position: absolute;
		left: 60px;
		top: -60px;
		// transform: translate(-30%, 10%);
	}

	#img-chinatown{
		left: -80px;
		top: 140px;
		// transform: translate(0%, 20%);

	}
}
@media only screen and (max-width: 1205px) {
	html{
		body{
			#learn{
				img{
					display: none;
				}
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	html {
		body {
			#learn {
				height: fit-content;
				min-height: 50vh;
				.container-fluid {
					min-height: 50vh;
				}
				h2 {
					font-size: 0.96rem;
					padding-top: 15px;
				}
				ul {
					li {
						p {
							display: inline;
							font-size: 0.72rem;
							letter-spacing: 0.025rem;
						}
						list-style: none;
						line-height: 2rem;
						color: white;
					}
				}

			}
		}
	}
}

@media only screen and (max-width: 450px) {
	html {
		body {
			#learn {
				height: 100vh;
				min-height: fit-content;
				ul {
					li {
						line-height: 1rem;
						color: white;
						margin-top: 25px;
					}
				}
			}
		}
	}
}
