#learn {
	background-color: #023b4e;
	height: 100vh;
	min-height: 800px;
	h2{
		text-shadow: 10px 15px 20px rgba(0, 0, 0, 0.9);
	}
	ul {
		li {
			p {
				text-shadow: 10px 15px 15px rgba(0, 0, 0, 0.9);
				display: inline;
				font-size: 1.5rem;
				letter-spacing: 0.05rem;
				a {
					color: white;
					&::after {
						color: white;
					}
				}
			}
			list-style: none;
			line-height: 2.5rem;
			color: white;
		}
	}
	.bold {
		font-weight: 700;
	}

	.light {
		font-weight: 500;
	}

	.superLight {
		font-weight: 100;
	}

	.strikethrough {
		text-decoration: line-through;
	}

	.underline {
		text-decoration: underline;
	}
}

@media only screen and (max-width: 992px) {
	html {
		body {
			#learn {
				height: fit-content;
				min-height: 50vh;
				.container-fluid {
					min-height: 50vh;
				}
				h2 {
					font-size: 0.96rem;
					padding-top: 15px;
				}
				ul {
					li {
						p {
							display: inline;
							font-size: 0.72rem;
							letter-spacing: 0.025rem;
						}
						list-style: none;
						line-height: 2rem;
						color: white;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 450px) {
	html {
		body {
			#learn {
				height: 100vh;
				min-height: fit-content;
				ul {
					li {
						line-height: 1rem;
						color: white;
						margin-top: 25px;
					}
				}
			}
		}
	}
}
